.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    animation: spinner-plncf9 4.8s infinite;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    border: 9px solid;
    border-radius: 50%;
    border-color: #de58ff #5d62ff #00d9ffa4 #9c07ff8b;
    animation: spinner-plncf9 1.2s infinite linear;
 }
 
 .spinner::after {
    /* border-color: #00d0dbef #71b5ffb0 #050da1 #007a37; */
    animation-direction: reverse;
 }
 
 @keyframes spinner-plncf9 {
    100% {
       transform: rotate(1turn);
    }
 }

 .spin {
   position: relative;
   top: 120px;
 }