#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.filter-holder,.heading-holder,.cards-holder {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 0;
}